<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="WEBDB" value="Data Source=WEBDB;Persist Security Info=False;User ID=TRAINING;Password=TRAINING;Enlist=true;Pooling=true;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300;Omit Oracle Connection Name=True"/>
  </appSettings>
</configuration>